In [14]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

df = pd.read_csv("student.csv", sep=",")

# Create a LabelEncoder instance
le = LabelEncoder()

# Apply label encoding to each categorical column separately
categorical_columns = ['Flexibility Level', 'Gender', 'IT Student', 'Device', 'Institution Type', 'Education Level']
for col in categorical_columns:
    df[col] = le.fit_transform(df[col])

print(df)

      Education Level  Institution Type  Gender  Age  Device  IT Student  \
0                   2                 0       1   23       2           0
1                   2                 0       0   23       1           0
2                   0                 1       0   18       1           0
3                   1                 0       0   11       1           0
4                   1                 0       0   18       1           0
...               ...               ...     ...  ...     ...         ...
1200                0                 0       0   18       1           0
1201                0                 0       0   18       1           0
1202                1                 0       1   11       1           0
1203                0                 0       0   18       1           0
1204                1                 0       0   11       1           0

     Location Financial Condition Internet Type Network Type  \
0        Town                 Mid          Wifi           4G
1        Town                 Mid   Mobile Data           4G
2        Town                 Mid          Wifi           4G
3        Town                 Mid   Mobile Data           4G
4        Town                Poor   Mobile Data           3G
...       ...                 ...           ...          ...
1200     Town                 Mid          Wifi           4G
1201    Rural                 Mid          Wifi           4G
1202     Town                 Mid   Mobile Data           3G
1203    Rural                 Mid          Wifi           4G
1204     Town                Poor   Mobile Data           3G

      Flexibility Level
0                     2
1                     2
2                     2
3                     2
4                     1
...                 ...
1200                  1
1201                  2
1202                  2
1203                  1
1204                  2

[1205 rows x 11 columns]

In [9]:
import pandas as pd 
import matplotlib.pyplot as plt
df=pd.read_csv('student.csv')

print(df)

missing_values=df.isna().sum()

print("Missing Values in each column:")
print(missing_values)

print("\nTotal number of missing values:" ,missing_values.sum())

import pandas as pd 
import matplotlib.pyplot as plt
df=pd.read_csv('student.csv')

import pandas as pd 
import matplotlib.pyplot as plt
df=pd.read_csv('student.csv')

     Education Level Institution Type  Gender  Age  Device IT Student  \
0         University          Private    Male   23     Tab         No
1         University          Private  Female   23  Mobile         No
2            College           Public  Female   18  Mobile         No
3             School          Private  Female   11  Mobile         No
4             School          Private  Female   18  Mobile         No
...              ...              ...     ...  ...     ...        ...
1200         College          Private  Female   18  Mobile         No
1201         College          Private  Female   18  Mobile         No
1202          School          Private    Male   11  Mobile         No
1203         College          Private  Female   18  Mobile         No
1204          School          Private  Female   11  Mobile         No

     Location Financial Condition Internet Type Network Type Flexibility Level
0        Town                 Mid          Wifi           4G          Moderate
1        Town                 Mid   Mobile Data           4G          Moderate
2        Town                 Mid          Wifi           4G          Moderate
3        Town                 Mid   Mobile Data           4G          Moderate
4        Town                Poor   Mobile Data           3G               Low
...       ...                 ...           ...          ...               ...
1200     Town                 Mid          Wifi           4G               Low
1201    Rural                 Mid          Wifi           4G          Moderate
1202     Town                 Mid   Mobile Data           3G          Moderate
1203    Rural                 Mid          Wifi           4G               Low
1204     Town                Poor   Mobile Data           3G          Moderate

[1205 rows x 11 columns]
Missing Values in each column:
Education Level        0
Institution Type       0
Gender                 0
Age                    0
Device                 0
IT Student             0
Location               0
Financial Condition    0
Internet Type          0
Network Type           0
Flexibility Level      0
dtype: int64

Total number of missing values: 0

In [2]:
import pandas as pd
from scipy.stats import zscore

# Read the CSV file into a DataFrame
df = pd.read_csv('student.csv')

# Display the original DataFrame
print("Original DataFrame:")
print(df)

# Replace missing values with column means
column_means = df.mean(numeric_only=True)
df_filled = df.fillna(column_means)

# Display the DataFrame after replacing missing values
print("\nDataFrame after replacing missing values with column means:")
print(df_filled)

# Convert 'Flexibility Level' column to numeric, coercing errors to NaN
df_filled['Flexibility Level'] = pd.to_numeric(df_filled['Flexibility Level'], errors='coerce')

# Drop NaN values from 'Flexibility Level' column
flexibility_level_numeric = df_filled['Flexibility Level'].dropna()

# Check if there are numeric values in the column
if len(flexibility_level_numeric) > 0:
    # Calculate z-scores for the 'Flexibility Level' column
    z_scores = zscore(flexibility_level_numeric)
    
    # Find outliers based on z-scores (considering values beyond 1.5 standard deviations as outliers)
    outliers = df_filled[(z_scores > 1.5) | (z_scores < -1.5)]
    
    # Display the outliers
    print("Outliers:")
    print(outliers)
else:
    print("No numeric values found in the 'Flexibility Level' column.")

Original DataFrame:
     Education Level Institution Type  Gender  Age  Device IT Student  \
0         University          Private    Male   23     Tab         No
1         University          Private  Female   23  Mobile         No
2            College           Public  Female   18  Mobile         No
3             School          Private  Female   11  Mobile         No
4             School          Private  Female   18  Mobile         No
...              ...              ...     ...  ...     ...        ...
1200         College          Private  Female   18  Mobile         No
1201         College          Private  Female   18  Mobile         No
1202          School          Private    Male   11  Mobile         No
1203         College          Private  Female   18  Mobile         No
1204          School          Private  Female   11  Mobile         No

     Location Financial Condition Internet Type Network Type Flexibility Level
0        Town                 Mid          Wifi           4G          Moderate
1        Town                 Mid   Mobile Data           4G          Moderate
2        Town                 Mid          Wifi           4G          Moderate
3        Town                 Mid   Mobile Data           4G          Moderate
4        Town                Poor   Mobile Data           3G               Low
...       ...                 ...           ...          ...               ...
1200     Town                 Mid          Wifi           4G               Low
1201    Rural                 Mid          Wifi           4G          Moderate
1202     Town                 Mid   Mobile Data           3G          Moderate
1203    Rural                 Mid          Wifi           4G               Low
1204     Town                Poor   Mobile Data           3G          Moderate

[1205 rows x 11 columns]

DataFrame after replacing missing values with column means:
     Education Level Institution Type  Gender  Age  Device IT Student  \
0         University          Private    Male   23     Tab         No
1         University          Private  Female   23  Mobile         No
2            College           Public  Female   18  Mobile         No
3             School          Private  Female   11  Mobile         No
4             School          Private  Female   18  Mobile         No
...              ...              ...     ...  ...     ...        ...
1200         College          Private  Female   18  Mobile         No
1201         College          Private  Female   18  Mobile         No
1202          School          Private    Male   11  Mobile         No
1203         College          Private  Female   18  Mobile         No
1204          School          Private  Female   11  Mobile         No

     Location Financial Condition Internet Type Network Type Flexibility Level
0        Town                 Mid          Wifi           4G          Moderate
1        Town                 Mid   Mobile Data           4G          Moderate
2        Town                 Mid          Wifi           4G          Moderate
3        Town                 Mid   Mobile Data           4G          Moderate
4        Town                Poor   Mobile Data           3G               Low
...       ...                 ...           ...          ...               ...
1200     Town                 Mid          Wifi           4G               Low
1201    Rural                 Mid          Wifi           4G          Moderate
1202     Town                 Mid   Mobile Data           3G          Moderate
1203    Rural                 Mid          Wifi           4G               Low
1204     Town                Poor   Mobile Data           3G          Moderate

[1205 rows x 11 columns]
No numeric values found in the 'Flexibility Level' column.

In [5]:
import pandas as pd
import numpy as np

# Read the data directly into a DataFrame
df = pd.read_csv('student.csv')

# Define bins and labels for discretization
bins = [-np.inf, 2, 3, np.inf]
labels = ['High', 'Moderate', 'Low']

# List of selected columns for discretization
selected_columns = ['Education Level', 'Institution Type', 'Gender', 'Age', 'Device', 'IT Student', 'Location', 'Financial Condition', 'Internet Type', 'Network Type', 'Flexibility Level']

# Convert non-numeric values to NaN and then to numeric
df[selected_columns] = df[selected_columns].apply(pd.to_numeric, errors='coerce')

# Discretize selected columns and create new categorical columns
for column in selected_columns:
    df[f'{column}_category'] = pd.cut(df[column], bins=bins, labels=labels, right=False)

# Print the DataFrame to see the new categorical columns
display(df)

,Education Level,Institution Type,Gender,Age,Device,IT Student,Location,Financial Condition,Internet Type,Network Type,...,Institution Type_category,Gender_category,Age_category,Device_category,IT Student_category,Location_category,Financial Condition_category,Internet Type_category,Network Type_category,Flexibility Level_category
0,NaN,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,23,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1200,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1201,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1202,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1203,NaN,NaN,NaN,18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1204,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Low,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
from sklearn.preprocessing import MinMaxScaler
import pandas as pd

# Assuming 'df' is already defined and contains the DataFrame

# List of selected columns for normalization
selected_columns = ['Education Level', 'Institution Type', 'Gender', 'Age', 'Device', 'IT Student', 'Location', 'Financial Condition', 'Internet Type', 'Network Type', 'Flexibility Level']

# Create a DataFrame with selected columns
selected_data = df[selected_columns]

# Initialize the MinMaxScaler
scaler = MinMaxScaler()

# Fit and transform the selected features
selected_data_normalized = pd.DataFrame(scaler.fit_transform(selected_data), columns=[f'{col}_normalized' for col in selected_columns])

# Concatenate the normalized features with the original DataFrame
df = pd.concat([df, selected_data_normalized], axis=1)

# Print the DataFrame with the normalized features
print(df)

/lib/python3.11/site-packages/sklearn/preprocessing/_data.py:480: RuntimeWarning: All-NaN slice encountered
  data_min = np.nanmin(X, axis=0)
/lib/python3.11/site-packages/sklearn/preprocessing/_data.py:481: RuntimeWarning: All-NaN slice encountered
  data_max = np.nanmax(X, axis=0)

      Education Level  Institution Type  Gender  Age  Device  IT Student  \
0                 NaN               NaN     NaN   23     NaN         NaN
1                 NaN               NaN     NaN   23     NaN         NaN
2                 NaN               NaN     NaN   18     NaN         NaN
3                 NaN               NaN     NaN   11     NaN         NaN
4                 NaN               NaN     NaN   18     NaN         NaN
...               ...               ...     ...  ...     ...         ...
1200              NaN               NaN     NaN   18     NaN         NaN
1201              NaN               NaN     NaN   18     NaN         NaN
1202              NaN               NaN     NaN   11     NaN         NaN
1203              NaN               NaN     NaN   18     NaN         NaN
1204              NaN               NaN     NaN   11     NaN         NaN

      Location  Financial Condition  Internet Type  Network Type  ...  \
0          NaN                  NaN            NaN           NaN  ...
1          NaN                  NaN            NaN           NaN  ...
2          NaN                  NaN            NaN           NaN  ...
3          NaN                  NaN            NaN           NaN  ...
4          NaN                  NaN            NaN           NaN  ...
...        ...                  ...            ...           ...  ...
1200       NaN                  NaN            NaN           NaN  ...
1201       NaN                  NaN            NaN           NaN  ...
1202       NaN                  NaN            NaN           NaN  ...
1203       NaN                  NaN            NaN           NaN  ...
1204       NaN                  NaN            NaN           NaN  ...

      Institution Type_normalized Gender_normalized Age_normalized  \
0                             NaN               NaN       0.777778
1                             NaN               NaN       0.777778
2                             NaN               NaN       0.500000
3                             NaN               NaN       0.111111
4                             NaN               NaN       0.500000
...                           ...               ...            ...
1200                          NaN               NaN       0.500000
1201                          NaN               NaN       0.500000
1202                          NaN               NaN       0.111111
1203                          NaN               NaN       0.500000
1204                          NaN               NaN       0.111111

     Device_normalized IT Student_normalized Location_normalized  \
0                  NaN                   NaN                 NaN
1                  NaN                   NaN                 NaN
2                  NaN                   NaN                 NaN
3                  NaN                   NaN                 NaN
4                  NaN                   NaN                 NaN
...                ...                   ...                 ...
1200               NaN                   NaN                 NaN
1201               NaN                   NaN                 NaN
1202               NaN                   NaN                 NaN
1203               NaN                   NaN                 NaN
1204               NaN                   NaN                 NaN

     Financial Condition_normalized Internet Type_normalized  \
0                               NaN                      NaN
1                               NaN                      NaN
2                               NaN                      NaN
3                               NaN                      NaN
4                               NaN                      NaN
...                             ...                      ...
1200                            NaN                      NaN
1201                            NaN                      NaN
1202                            NaN                      NaN
1203                            NaN                      NaN
1204                            NaN                      NaN

     Network Type_normalized Flexibility Level_normalized
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN
...                      ...                          ...
1200                     NaN                          NaN
1201                     NaN                          NaN
1202                     NaN                          NaN
1203                     NaN                          NaN
1204                     NaN                          NaN

[1205 rows x 44 columns]